@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    transition: all 0.25s ease-in-out;
  }

  @media (min-width: 320px) {
    #mainContainer {
      top: 1400px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    label {
      z-index: 1000;
      color: transparent;
      padding-block: 5px;
      padding-inline: 0px;
      border-radius: 3pc;
      position: relative;
      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        top: 4.78px;
        left: 47px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #ffffff;
        transition: left 0.35s ease-in-out;
        z-index: 1001;
      }
    }

    #check {
      display: none;

      &:checked + ::before {
        left: 6px;
      }
    }
  }

  @media (min-width: 768px) {
    #mainContainer {
      top: 800px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media (min-width: 1024px) {
    #mainContainer {
      top: 800px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media (min-width: 1280px) {
    #mainContainer {
      top: 400px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  #card:hover {
    background: hsl(var(--CardHover));
    transition: all 0.25s ease-in-out;
  }

  :root {
    --Lime-Green: 163, 72%, 41%;
    --Bright-Red: 356, 69%, 56%;
    --ToggleLight: 230, 22%, 74%;
    --ToggleBg: linear-gradient(to hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  }
}
